{% load template_helpers %}
<li class="{% if 'dashboard' in sidebar_group %}active{% endif %}">

</li>

{% if request.user.is_authenticated %}
        {% include 'video_sidebar.html' %}
        {% include 'organization_sidebar.html' %}
        {% include 'taxonomy_sidebar.html' %}
        {% include 'people_sidebar.html' %}
    <li class="{% if 'logout' in sidebar_group %}active{% endif %}">
        <a href="{% url 'logout' %}">
            <i class="fa fa-sign-out fa-fw"></i> Logout
        </a>
    </li>
{% endif %}