

<li class="{% if 'organization' in sidebar_group %}active{% endif %}">
    <a href="#" data-toggle="collapse" data-target="#organization" class="{% if 'organization' in sidebar_group %}collapsed{% endif %}" aria-expanded="true">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Organization <span class="caret"></span>
    </a>
    <ul id="organization" class="sidebar-items collapse {% if 'organization' in sidebar_group %}in{% endif %}" aria-expanded="true">
        <li>{% include '_sidebar_item.html' with url='browse_party' label='Browse Party'%}</li>
        <li>{% include '_sidebar_item.html' with url='browse_office' label='Browse Office'%}</li>
    </ul>
</li>

